.chat-box {
    width: 500px; /* Задаем ширину */
    height: 150px; /* Задаем высоту */
    border: 1px solid black; /* Рамка вокруг чата */
    padding: 10px;
    overflow-y: auto; /* Прокрутка для переполнения */
    background-color: #f9f9f9; /* Фон чата */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.message-list {
    list-style: none; /* Убираем маркеры списка */
    margin: 0;
    padding: 0;
    width: 100%;
}

.message {
    margin-bottom: 10px; /* Отступ между сообщениями */
    padding: 5px;
    border-radius: 5px;
    background-color: #e0e0e0; /* Фон сообщения */
}

.no-messages {
    text-align: center; /* Центрирование текста */
    color: #888; /* Цвет текста */
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}